@media screen and (max-width:1430px){
    .bg-text{
        font-size: 3rem !important;
    }
}

@media screen and (max-width:1390px){
    .right-header{
        padding-right: 8rem !important;
        .name{
            font-size: 1.6rem !important;
        }
    }
}

@media screen and (max-width: 1315px){
    .hover-heading{
          font-size: 1rem !important;
    }
}

@media screen and (max-width: 1180px){
    .portfolios{
        grid-template-columns: repeat(2, 1fr);
    }
    .hover-heading{
        font-size: 1.5rem !important;
  }
}

@media screen and (max-width: 1145px){
    .about-container{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1050px){
    .progress-bars{
        grid-template-columns: 1fr !important;
    }
    .sec2{
        padding: 2rem 8rem !important;
    }
    .sec3{
        padding: 2rem 8rem !important;
    }
    h2{
        font-size: 2.5rem !important;
    }
}

@media screen and (max-width: 950px){
    .progress-bars{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 890px){
    .contact-contain-container{
        flex-direction: column;
    }
    .sec4{
        padding: 2rem 5rem !important;
    }
}

@media screen and (max-width: 800px){

    .bg-text{
        font-size: 2rem !important;
    }

    header{
        padding: 0;
        padding-top: 3rem;
    }

    .header-content{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .right-header{
        display: none !important;
    }

    .responsive-header{
        display: block !important;
        position: absolute;
        bottom: 8px;
        right: 16px;
        margin-left: 1rem;
        .name{
            font-size: 1.5rem !important;
        }
    }

    .header-content .left-header .image{
        margin: 0 auto;
        width: 90%;
    }
}

@media screen and (max-width: 630px){

    /*navbar / meny*/
    .controlls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
        .controll{
            margin: 1rem .3rem;
        }
    }

    .sec2{
        padding: 2rem 5rem !important;
    }

    .portfolios{
        grid-template-columns: 1fr;
    }

    footer{
        height: 100px;
    }
}

@media screen and (max-width: 550px){
    .section{
        padding: 2rem 3rem !important;
    }
    p{
        font-size: 12px;
    }
    i{
        font-size: 12px;
    }
    a{
        font-size: 12px;
    }
}